.block{
    width: 200px;
    height: 300px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
p{
    width: 150px;
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
}