h1 {
    background: darkorange;
    color: darkgreen;
}
p {
    background: gold;
    color: black;
}
a{
    background: darkorange;
    color: black;
}
h2 {
    background: white;
    color: darkgreen;
}
ul{
    background: darkorange;
    color: darkgreen;
}